# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# App artifacts & secrets
static/downloads/
static/*.tmp
cookies.txt


# Flask instance folder
instance/

# Node (if any frontend tooling later)
node_modules/

# JetBrains
.idea/

# Git
*.orig
